<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
    <tr>
	  <th>follows</th>
	  <th><%= link_to follow_users_user_path(user) do %>
	    <%= user.following_users.count %>
	  <% end %></th>
  </tr>
    <tr>
	  <th>followers</th>
	  <th><%= link_to follower_users_user_path(user) do %>
	    <%= user.followed_users.count %>
	  <% end %></th>
  </tr>
</table>

<% unless user.guest_user? %>
  <div class='row'>
    <% if current_user != user %>
      <% if user.followed_by?(current_user) %>
        <%= link_to "フォローをはずす", user_relationship_path(user), method: :delete, class: "btn btn-success btn-sm" %>
      <% else %>
        <%= link_to "フォローする", user_relationship_path(user), method: :post, class: "btn btn-success btn-sm" %>
      <% end %>
    <% else %>
      <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
    <% end %>
  </div>
<% end %>